*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#map{
    background-color: rgb(140, 200, 200);
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    width: 100%;

}

.logo{
    margin-left: 550px;
    margin-right: 550px;
}

#login{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(165, 42, 42, 0);
    font-size: 25px;
}

#sign_up{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 25px;
}

#Find_Flight, #Find_Hotel{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    padding-left:0px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
    font-size: 25px;
}



#rectangle{
    width: 150px;
    height: 5px;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    margin-left: 2px;
    background-color: rgb(140, 200, 200);

    
}

#bed_icon,
#plane_icon{
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
    
}




.flight_hotel_buttons{
    text-decoration: none;
}

#plane_image{
    width: 100%;
    z-index: -1; 
}

.flights_location{
    display: flex;
    align-items: center;
    width: 86%;
    flex-wrap: wrap;
    background-color: white;
    height: 400px;
    border-radius: 15px;
    padding: 32px 24px 48px 24px;
    box-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
    position: relative;
    bottom: 130px;
    left: 180px;


}

.from_to_trip_depart_return_passenger_class{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}



.flights_location_div{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.options{
    color: gray;
}


.text{
    color: black;
    font-size: 40px;
    font-weight: 600;
    
}

.flight_location_texts{
    font-size: 25px;

}

.flight_location_button_input{
    border: solid 2px gray;
    border-radius: 10px;
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;

}

.from_to_box,
.trip_box,
.depart_return_box,
.passenger_class_box{
    display: flex;
    flex-flow: column;
    text-align: center;


}
#tow_arrow{
    width: 30px;
    position: relative;
    bottom: 128px;
    right: 950px;
}




.labels_box{
    background-color: white;
    position: relative;
    top: 20px;
    display: inline;
    left: 20px;
}

#from_to_lable_box{
    width: 115px;
}

#trip_lable_box{
    width: 45px;
}

#depart_return_lable_box{
    width: 180px;
}

#passenger_class_lable_box{
    width: 196px;
}

.add_promo_card_show_flights{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-right: 30px;
}

#add_promo_card_button,
#show_flights_button{
    border: none;
    border-radius: 10px;
    padding: 20px 80px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 25px;
}

#show_flights_button{
    background: rgba(141, 211, 187, 1);
}

#peaper_plane_icon{
    width: 25px;
    margin-right: 10px;
}

#plus_icon{
    width: 25px;
    margin-right: 10px;
}

.Lets_go_places_together{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.map{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(140, 200, 200);

}

#map{
    width: 90%;    
}

.james_doe{
    display: flex;
    background-color: white;
    width: 300px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.text_map_options{

    color: black;
}

.map_atags:hover .james_doe {
    transform: scale(1.05); /* Scale up by 5% on hover */
}

.james_doe_text{
    margin-left: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
}

.james_doe_image{
    margin-left: 2.5px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
}


.map_atags{
    text-decoration: none;
}


.travel_map_section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h3_map_text{
    position: relative;
    top: 6px;
}


.p_map_text{
    position: relative;
    bottom: 5px;
}

#one{
    position: relative;
    bottom: 890px;

}


#arrow_1{
    position: relative;
    bottom: 780px;
    width: 130px;
    right: 1380px;
}


#two{
    position: relative;
    bottom: 850px;
    left: 1160px;
}

#arrow_3{
    position: relative;
    bottom: 725px;
    width: 180px;
    right: 300px;
}

#three{
    position: relative;
    bottom: 400px;
}

#arrow_2{
    position: relative;
    bottom: 400px;
    width: 180px;
    right: 260px;
}

.heading{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#h3_letsgo{
    font-size: 50px;
}

#p_letsgo{
    font-size: 25px;
}


.London{
    background-color: white;
    width: 21.7%;
    
    height: 100%;
}
.london_image{
    background-image: url(../images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.London a {
    cursor: default;
}

.London:hover .london_image {
    transform: scale(1.05);
}


.Columbia{
    background-color: white;
    width: 21.8%;
    
    height: 100%;
}
.columbia_image{
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.Columbia a {
    cursor: default;
}

.Columbia:hover .columbia_image {
    transform: scale(1.05);
}

.Paris{
    background-color: white;
    width: 21.7%;
    
    height: 100%;
}
.paris_image{
    background-image: url(../images/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.Paris a {
    cursor: default;
}

.Paris:hover .paris_image {
    transform: scale(1.05);
}

.melbourne{
    background-color: white;
    width: 21.75%;
    
    height: 100%;
}
.melbourne_image{
    background-image: url(../images/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.melbourne a {
    cursor: default;
}

.melbourne:hover .melbourne_image {
    transform: scale(1.05);
}

.sugestions{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 720px;
    
    

}
p{
    font-size: 25px;
}

.fall_into_travel{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 5%;
}

.heading_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#heading_h1_fall_into{
    font-size: 50px;
}

.see_all_button{
    border: solid 1px rgba(141, 211, 187, 1);

    border-radius: 10px;
    padding: 20px 80px;
    background-color: white;
    font-size: 25px
}


.lets_go_texts{
    display: flex;
    margin-left: 5%;
    flex-flow: column;
    justify-content: center;
}

#see_all_fall_into_div{
    margin-right: 2.5%;
}


#see_all_lets_go_div{
    margin-right: 5%;
}



.text_fall_into{
    margin-left: 2.5%;
}


.text_section_2{
    display: flex;
    justify-self: center;
    flex-flow: column;
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    
}



a{
    text-decoration: none;
}

.text_price_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    height: 20%;
    margin-top: 90%;
    width: 90%;

}

.columbia_image,
.melbourne_image,
.paris_image,
.london_image{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.book_flight{
    border: none;
    border-radius: 10px;
    padding: 20px 150px;
    background: rgba(141, 211, 187, 1);    
    font-size: 25px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.section_2_prices,
.countries_name{
    font-size: 45px;
    color: white;
}

.section_2_p{
    font-size: 25px;
    color: white;
}























